<section class="updateBlog_container">
  <div class="title">
    <h3>Edit Blog</h3>
  </div>
  <form class="edit-form">
    <h3>Title</h3>
    <input type="text" class="edit_title"/>
    <h4>Content</h4>
    <input type="text" class="edit_content"/>
    <button type="submit" class="update-btn">Update Blog</button>
    <button type="submit" class="delete-btn">Delete</button>
  </form>
</section>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>