<div class="login_container">
  <h2>Login</h2>

  <form class="login-form">
    <h4>Username:</h4>
    <input type="text" id="username-login">

    <h4>Password:</h4>
    <input type="password" id="password-login">

    <button type"submit">Login!</button>
  </form>

  <div class="signUp_text">
    <a href="/signup">Sign up instead!</a>
  </div>
</div>

<script src="./js/login.js"></script>