<div class="signup_container">
  <h2>Sign Up</h2>

  <form class="signup-form">
    <h4>Username:</h4>
    <input type="text" id="username-signup">

    <h4>Password:</h4>
    <input type="password" id="password-signup">

    <button type"submit">Sign Up!</button>
  </form>

  <div class="logIn_text">
    <a href="/login">Login instead!</a>
  </div>
</div>

<script src="./js/signup.js"></script>